/* ======================================== */
/* Theme - colors */

:root {
  --tint: 255 100 50;
  --tint-contrast: 255 255 255;
  --foreground: 0 0 0;
  --background: 255 255 255;
}

html,
body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  height: 100%;
  font-family: sans-serif;
  scrollbar-color: rgb(var(--tint)) Canvas;
  scrollbar-gutter: stable;
}

:root {
  accent-color: rgb(var(--tint));
}
:focus-visible:focus-visible {
  outline: 2px solid rgb(var(--tint));
  outline: none;
  box-shadow: 0 0 0 2px rgb(var(--background)), 0 0 0 4px rgb(var(--tint));
}
::selection {
  background-color: rgb(var(--tint) / 0.5);
}
::marker {
  color: rgb(var(--tint));
  /* color: rgb(var(--foreground) / 0.25); */
}
:is(::-webkit-calendar-picker-indicator, ::-webkit-clear-button, ::-webkit-inner-spin-button, ::-webkit-outer-spin-button) {
  color: rgb(var(--tint));
}

/* ======================================== */
/* Buttons */

.btn--loading .btn__content {
  opacity: 0;
}

.btn {
  vertical-align: middle;
  position: relative;
  display: inline-flex;
  align-items: center;
  background: rgb(var(--foreground) / 0.15);
  color: rgb(var(--foreground));
  padding: 0.3em 0.75em;
  border-radius: 0.3em;
  transition: all ease-in-out 150ms;
  cursor: pointer;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.btn--primary {
  background: rgb(var(--tint));
  color: rgb(var(--tint-contrast));
}

.btn--primary-translucent {
  background: rgb(var(--tint) / 0.25);
  color: rgb(var(--tint));
}

.btn--secondary {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  box-shadow: 0 0 0 1px rgb(var(--foreground) / 0.2) inset;
}

.btn--shadow {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  box-shadow: 0 0 0 1px rgb(var(--foreground) / 0.2) inset, 0 1px 2px rgb(var(--foreground) / 0.1);
}

/* Sizes */
.btn--xs {
  font-size: 0.75rem;
}
.btn--sm {
  font-size: 0.9rem;
}
.btn--lg {
  font-size: 1.1rem;
}
.btn--xl {
  font-size: 1.25rem;
}

.btn--selected {
  background: green;
}

/* Elements */
.btn__icon {
  /* position: relative; */
  /* top: -1px; */
}

.btn__icon:first-child {
  margin-left: -0.25em;
  margin-right: 0.25em;
}

.btn__icon:last-child {
  margin-left: 0.25em;
  margin-right: -0.25em;
}

.btn__loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ======================================== */
/* Dropdown */

.dropdown__menu {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  padding: 0.3em 0.75em;
  border-radius: 0.3em;
  box-shadow: 0 0 0 1px rgb(var(--foreground) / 0.2) inset, 0 1px 2px rgb(var(--foreground) / 0.1);
}

/* ======================================== */
/* Icon */

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.icon--xs {
  width: 0.75rem;
  height: 0.75rem;
}
.icon--sm {
  width: 0.9rem;
  height: 0.9rem;
}
.icon--lg {
  width: 1.1rem;
  height: 1.1rem;
}
.icon--xl {
  width: 1.25rem;
  height: 1.25rem;
}

/* ======================================== */
/* Loading */

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid;
  border-color: currentColor transparent currentColor transparent;
  animation: spin 1s linear infinite;
}

/* ======================================== */
/* Checkbox */

.checkbox-label {
  display: inline-flex;
  text-align: left;
}

.checkbox {
  vertical-align: middle;
  width: 1.25em;
  height: 1.25em;
  background: rgb(var(--foreground) / 0.1);
  border-radius: 0.3em;
  margin: 0.1em 0.5em 0 0;
  text-align: center;
  color: rgb(var(--tint-contrast));
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.checkbox__icon {
  position: absolute;
}

.checkbox--checked {
  background: rgb(var(--tint));
}

/* ======================================== */
/* Tooltip */

.tooltip {
  background: rgb(var(--foreground));
  color: rgb(var(--background));
  font-size: 0.75rem;
  padding: 0.3em 0.75em;
  border-radius: 0.3em;
  pointer-events: none;
}

/* ======================================== */
/* Slider */

.slider {
  width: 100%;
  margin: 2em 0;
  user-select: none;
}

.slider__track {
  position: relative;
  width: 100%;
  height: 0.5em;
  background: rgb(var(--foreground) / 0.25);
}

/* Segments -------- */

.slider__segment {
  position: absolute;
  height: 100%;
}

.slider__segment--disabled {
  background-image: linear-gradient(
    45deg,
    transparent 25%,
    rgb(var(--background) / 0.5) 25%,
    rgb(var(--background) / 0.5) 50%,
    transparent 50%,
    transparent 75%,
    rgb(var(--background) / 0.5) 75%,
    rgb(var(--background) / 0.5) 100%
  );
  background-size: 11.31px 11.31px;
}

.slider__segment--unselected {
  background: transparent;
}

.slider__segment--selected {
  background: rgb(var(--tint));
}

/* Labels -------- */

.slider__label {
  font-size: 0.8em;
  position: absolute;
  top: 100%;
  opacity: 0.5;
}

.slider__label--minValue,
.slider__label--maxValue {
  transform: translateX(-50%);
}

/* Steps -------- */
.slider__step {
  width: 4px;
  height: 180%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.slider__step--unselected,
.slider__step--disabled {
  background: rgb(var(--background));
  box-shadow: 0 0 0 2px rgb(var(--foreground) / 0.25) inset;
}

.slider__step--disabled {
  background: rgb(var(--background));
  box-shadow: 0 0 0 2px rgb(var(--foreground) / 0.5) inset;
}

.slider__step--selected {
  background: rgb(var(--tint));
}

.slider__step__value {
  font-size: 0.8em;
  position: absolute;
  top: 75%;
  left: 50%;
  opacity: 0.5;
  transform: translateX(-50%);
}

.slider__step__value--main {
  display: none;
}

/* Knobs -------- */

.slider__knob {
  width: 1.25em;
  height: 1.25em;
  border-radius: 100%;
  background: rgb(var(--foreground));
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider__knob--active,
.slider__knob--focused {
  transform: translate(-50%, -50%) scale(1.05);
  background: rgb(var(--tint));
  box-shadow: 0 0 0 2px rgb(var(--background)), 0 0 0 4px rgb(var(--tint));
}

.slider__knob__value {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 6px;
  transform: translateX(-50%);
  background: rgb(var(--foreground));
  color: rgb(var(--background));
  border-radius: 10em;
  padding: 0.25em 0.75em;
  font-size: 0.8em;
}
