:root {
  --tint: 59 130 246;
  --tint-contrast: 255 255 255;
  --foreground: 55 65 81;
  --background: 255 255 255;
  --background-secondary: 249 250 251;
  --background-tertiary: 241 245 249;
  --background-quaternary: 209 213 219;
}

html,
body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  height: 100%;
  font-family: "ui-sans-serif", "system-ui", sans-serif;
  scrollbar-color: rgb(var(--tint)) Canvas;
  scrollbar-gutter: stable;
}

:root {
  accent-color: rgb(var(--tint));
}
:focus-visible:focus-visible {
  outline: 2px solid rgb(var(--tint));
  outline: none;
  box-shadow: 0 0 0 2px rgb(var(--background)), 0 0 0 4px rgb(var(--tint));
}
::selection {
  background-color: rgb(var(--tint) / 0.5);
}
::marker {
  color: rgb(var(--tint));
  /* color: rgb(var(--foreground) / 0.25); */
}
:is(::-webkit-calendar-picker-indicator, ::-webkit-clear-button, ::-webkit-inner-spin-button, ::-webkit-outer-spin-button) {
  color: rgb(var(--tint));
}
