/* ============================================= */
/* Component functionality */

.btn {
  position: relative; /* to position .btn__loading */
  vertical-align: middle;
}

.btn--loading .btn__content {
  opacity: 0; /* hide content when loading */
}

/* ============================================= */
/* Structure 

  .btn (.btn--{size} .btn--{type} .btn--loading .btn--selected .btn--disabled)
    .btn__content
      .btn__icon-container.btn__icon-container--left
        .btn__icon
      .btn__label (.btn__copyStatus)
      .btn__icon-container.btn__icon-container--right
        .btn__icon
    .btn__loading
*/

/* ============================================= */
/* Styles */

.btn {
  --btn-background: var(--background);
  --btn-color: var(--foreground);
  --btn-border: var(--background-quaternary);
  --btn-shadow: var(--foreground) / 0.1;

  display: inline-block;
  align-items: stretch;
  background: rgb(var(--btn-background));
  color: rgb(var(--btn-color));
  font-size: 0.875rem;
  font-weight: 500;
  border: 1px solid rgb(var(--btn-border));
  border-radius: 0.375rem;
  box-shadow: rgb(var(--btn-shadow)) 0px 1px 2px 0px;
  transition: all ease-in-out 150ms;
}

button.btn,
a.btn {
  cursor: pointer;
}

button.btn:hover,
a.btn:hover {
  --btn-background: var(--background-secondary);
  --btn-color: var(--btn-color);
}

.btn.btn:disabled,
.btn.btn--disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* --------------------------------------------- */
/* Content */

.btn__content {
  display: flex;
}

.btn__label {
  padding: 0.5em 1em;
  flex: 1;
}

.btn__icon-container {
  display: flex;
  align-items: center;
  padding: 0 0.75em;
}

.btn__icon-container--left {
  margin-right: -1.25em;
}

.btn__icon-container--right {
  margin-left: -1.25em;
}

/* Icon button */

.btn--icon-btn .btn__icon-container {
  margin: 0;
}

.btn--icon-btn .btn__icon-container--left:not(:last-child) {
  margin-right: -0.5em;
}

.btn--icon-btn .btn__icon-container--right:not(:first-child) {
  margin-left: -0.5em;
}

/* --------------------------------------------- */
/* Types */

.btn--primary {
  --btn-background: var(--tint);
  --btn-color: var(--tint-contrast);
  --btn-border: var(--tint);
  --btn-shadow: transparent;
}
.btn--primary:hover {
  --btn-background: var(--tint) / 0.9;
}

.btn--primary-translucent {
  --btn-background: var(--tint) / 0.1;
  --btn-color: var(--tint);
  --btn-border: var(--tint) / 0.25;
  --btn-shadow: transparent;
}
.btn--primary-translucent:hover {
  --btn-background: var(--tint) / 0.15;
}

.btn--secondary {
  --btn-background: var(--foreground);
  --btn-color: var(--background);
  --btn-border: var(--foreground);
  --btn-shadow: transparent;
}
.btn--secondary:hover {
  --btn-background: var(--foreground) / 0.9;
}

.btn--secondary-translucent {
  --btn-background: var(--foreground) / 0.1;
  --btn-color: var(--foreground);
  --btn-border: var(--foreground) / 0.25;
  --btn-shadow: transparent;
}
.btn--secondary-translucent:hover {
  --btn-background: var(--foreground) / 0.15;
}

/* --------------------------------------------- */
/* States */

.btn--focused {
  --btn-background: var(--tint) / 0.1;
}

.btn--selected {
  --btn-background: var(--tint);
  --btn-color: var(--background);
}

.btn--toggled {
  box-shadow: 0 0 0 1px rgb(var(--btn-background)) inset, 0 0 0 3px rgb(var(--btn-color)) inset;
}
.btn--untoggled {
}

/* --------------------------------------------- */
/* Sizes */

.btn--xs {
  font-size: 0.625rem;
}
.btn--sm {
  font-size: 0.75rem;
}
.btn--lg {
  font-size: 1.1rem;
}
.btn--xl {
  font-size: 1.25rem;
}

/* --------------------------------------------- */
/* Loading */

.btn__loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
