/* ============================================= */
/* Component functionality */

.dropdown__menu {
  position: fixed;
}

/* ============================================= */
/* Styles */

.dropdown__trigger {
  display: inline-block;
}

.dropdown__menu {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  border-radius: 0.3em;
  box-shadow: 0 0 0 1px rgb(var(--foreground) / 0.2) inset, 0 1px 2px rgb(var(--foreground) / 0.1);
  min-width: 20ch;
}

/* ============================================= */
/* Menu */

.list {
  border: 1px solid transparent;
  border-radius: 0.3em;
}

.list__group {
  border-bottom: 1px solid rgb(var(--background-tertiary));
  padding-top: 0.5em;
}

.list__group:first-child {
  padding-top: 0;
}

.list__heading {
  font-size: 0.7em;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: rgb(var(--foreground) / 0.5);
  padding: 0.5rem 0.75rem 0.25rem;
}

.list__item {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 0.875em;
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid rgb(var(--background-tertiary));
}

.list__item:hover,
.list__item:focus,
.list__item--focused {
  background: rgb(var(--background-tertiary));
  color: rgb(var(--foreground));
}

.list__item:first-child {
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.list__item:last-child {
  border: 0;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

.list--inset {
  padding: 0.25rem;
}

.list--inset .list__group {
  border-bottom: 0;
  border-top: 1px solid rgb(var(--background-tertiary));
}
.list--inset .list__group:first-child {
  border: 0;
  padding-bottom: 0.25em;
}

.list--inset .list__item {
  border: 0;
  margin-bottom: 2px;
  border-radius: 0.3em;
  padding: 0.35rem 0.75rem;
}

.list__divider {
  height: 1px;
  background: rgb(var(--background-tertiary));
}

.list__item--active {
  background: rgb(var(--tint));
  color: rgb(var(--background));
}

.list__submenu .list__item {
  display: block;
  width: 100%;
  border-bottom: 1px solid rgb(var(--background-tertiary));
}
.list--inset .list__submenu .list__item {
  border-bottom: 0;
}
.list__item__content {
  display: flex;
}
.list__item__label {
  flex: 1;
}
