.label {
  flex: 1;
  display: inline-flex;
  align-items: center;
  text-align: left;
  gap: 0.5em;
  overflow: hidden;
}

.label__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.label__content:empty,
.label__text:empty {
  display: none;
}

.label__subtext {
  font-size: 0.875em;
  line-height: 1em;
  color: rgb(var(--foreground) / 0.75);
}

.label__icon-container {
  width: 1em;
  height: 1em;
  line-height: 0;
}

/* ============================================= */
/* Truncate text */

.label--truncate .label__content,
.btn:not(.btn--wrap) .label__content {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
