/* ============================================= */
/* Styles */

.list {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border: 1px solid rgb(var(--background-quaternary));
  border-radius: 0.3em;
  overflow: hidden;
  padding: 0.25rem 0;
  min-width: 240px;
}

.list .list,
.dropdown__menu .list {
  border: 0;
}

.list:not(.list--inset) .list {
  border-radius: 0;
}

/* --------------------------------------------- */
/* List types */

.list--secondary {
  border: 0;
  background: rgb(var(--background-tertiary));
}

/* --------------------------------------------- */
/* List direction */

.list--row {
  flex-direction: row;
  align-items: center;
  min-width: auto;
  padding: 0;
}

/* --------------------------------------------- */
/* List modifier: Dividers */

.list--dividers {
  padding: 0;
}

.list--dividers > :not(.list__heading):not(:last-child),
.list--dividers .scrollarea__content > :not(.list__heading):not(:last-child) {
  border-bottom: 1px solid rgb(var(--background-quaternary));
}

.list--row.list--dividers > :not(.list__heading):not(:last-child) {
  border-bottom: 0;
  border-right: 1px solid rgb(var(--background-quaternary));
}

/* --------------------------------------------- */
/* List modifier: Inset */

.list--inset {
  padding: 0.25rem;
}

.list--inset .list__item,
.list--inset > .btn,
.list--inset .dropdown__trigger .btn {
  /* border-radius: inherit; */
  margin-bottom: 2px;
}

.list--inset .dropdown__trigger {
  /* border-radius: inherit; */
}

.list--inset .list__item:last-child,
.list--inset > .btn:last-child,
.list--inset .dropdown__trigger:last-child {
  margin-bottom: 0;
}

.list--row.list--inset .list__item,
.list--row.list--inset > .btn,
.list--row.list--inset .dropdown__trigger {
  margin-bottom: 0;
  margin-right: 2px;
}

.list--row.list--inset .list__item:last-child,
.list--row.list--inset > .btn:last-child .list--row.list--inset .dropdown__trigger:last-child {
  margin-right: 0;
}

/* --------------------------------------------- */
/* List elements */

.list__item {
  padding: 0.5rem 1rem;
  display: flex;
}

.list__item--flex {
  flex: 1;
}

.list__heading {
  text-transform: uppercase;
  font-size: 0.625em;
  font-weight: 600;
  opacity: 0.75;
  padding: 0.5rem 1rem 0.25rem;
}

.list--row .list__heading {
  align-self: center;
  padding: 0 0.75rem;
}

.list__divider {
  display: inline-block;
  background: rgb(var(--background-tertiary));
  height: 2px;
  width: 100%;
  margin: 0.25rem 0;
  flex-shrink: 0;
}

.list--row .list__divider {
  width: 2px;
  height: 100%;
  margin: 0 0.25rem;
  align-self: center;
}

/* Kill divider margin if sibling to scrollarea */
.scrollarea + .list__divider {
  margin: 0;
}
.list__divider:has(+ .scrollarea) {
  margin-bottom: 0;
}

/* --------------------------------------------- */
/* Adjust buttons in list */

.list > .btn,
.list .dropdown__trigger .btn {
  --btn-shadow: transparent;
  --btn-border: transparent;
}

.list:not(.list--row) > .btn,
.list:not(.list--row) .dropdown__trigger .btn {
  width: 100%;
  text-align: left;
}

.list:not(.list--inset) > .btn,
.list:not(.list--inset) .dropdown__trigger .btn {
  border-radius: 0;
}

/* ----------------------------------------------- */
/* Input */

.list > .input {
  box-shadow: none;
  border: 0;
  border-radius: 0;
}

/* ----------------------------------------------- */
/* ScrollArea */

.list:has(.scrollarea) {
  padding-top: 0;
  padding-bottom: 0;
}

.list--inset:has(.scrollarea) {
  padding-right: 0;
}

.list--inset .scrollarea__content {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.25rem;
}
