/* ============================================= */
/* Component functionality */

/* ============================================= */
/* Styles */

.select__list {
  min-width: 160px;
  max-height: 200px;
  overflow-y: auto;
}

.select__placeholder {
  opacity: 0.75;
}
