/* ============================================= */
/* Component functionality */

/* ============================================= */
/* Styles */

.slider {
  min-width: 24em;
  margin: 2em 0;
  user-select: none;
}

.slider__track {
  position: relative;
  width: 100%;
  height: 0.5em;
  background: rgb(var(--foreground) / 0.25);
}

/* Segments -------- */

.slider__segment {
  position: absolute;
  height: 100%;
}

.slider__segment--disabled {
  background-image: linear-gradient(
    45deg,
    transparent 25%,
    rgb(var(--background) / 0.5) 25%,
    rgb(var(--background) / 0.5) 50%,
    transparent 50%,
    transparent 75%,
    rgb(var(--background) / 0.5) 75%,
    rgb(var(--background) / 0.5) 100%
  );
  background-size: 11.31px 11.31px;
}

.slider__segment--unselected {
  background: transparent;
}

.slider__segment--selected {
  background: rgb(var(--tint));
}

/* Labels -------- */

.slider__label {
  font-size: 0.8em;
  position: absolute;
  top: 100%;
  color: rgb(var(--foreground) / 0.5);
}

.slider__label--minValue,
.slider__label--maxValue {
  transform: translateX(-50%);
}

/* Steps -------- */
.slider__step {
  width: 4px;
  height: 180%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.slider__step--unselected,
.slider__step--disabled {
  background: rgb(var(--background));
  box-shadow: 0 0 0 2px rgb(var(--foreground) / 0.25) inset;
}

.slider__step--disabled {
  background: rgb(var(--background));
  box-shadow: 0 0 0 2px rgb(var(--foreground) / 0.5) inset;
}

.slider__step--selected {
  background: rgb(var(--tint));
}

.slider__step__value {
  font-size: 0.8em;
  position: absolute;
  top: 75%;
  left: 50%;
  opacity: 0.5;
  transform: translateX(-50%);
}

.slider__step__value--main {
  display: none;
}

/* Knobs -------- */

.slider__knob {
  width: 1.25em;
  height: 1.25em;
  border-radius: 100%;
  background: rgb(var(--foreground));
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(var(--background));
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__knob--active,
.slider__knob--focused {
  transform: translate(-50%, -50%) scale(1.05);
  background: rgb(var(--tint));
  box-shadow: 0 0 0 2px rgb(var(--background)), 0 0 0 4px rgb(var(--tint));
  color: rgb(var(--background));
}

.slider__knob__value {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 6px;
  transform: translateX(-50%);
  background: rgb(var(--foreground));
  color: rgb(var(--background));
  border-radius: 10em;
  padding: 0.25em 0.75em;
  font-size: 0.8em;
}

.slider__knob__icon-container {
  pointer-events: none;
}

.slider__knob__icon {
  display: block;
}
